VITE_SUPABASE_URL=https://nepktjichhnksedkcgrc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5lcGt0amljaGhua3NlZGtjZ3JjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYyNTIwMzAsImV4cCI6MjEwMTgyODAzMH0.P4MTOAcpkfeuZumb3UNiiOCFuo8cutqY3UHi27Ry6MU
